{% extends "base.html" %}
{% block title %}My Sport Tracker{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
   crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>
{% endblock %}
{% block content %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">{{ activity['name'] }}</h1>
        <p>Activity: {{ activity['activity_type'] }}</p>
        <p>Description: {{ activity['activity_type'] }}</p>
        <p>Description: {{ activity['description'] }}</p>
        <p>Distance: {{ activity['laps'][-1].points[-1].distance }}</p>
        <p>Duration: {{ activity['duration'] }}</p>
        <p>Altitude ascend: {{ activity['ascend'] }}</p>
        <p>Altitude descend: {{ activity['descend'] }}</p>
        <p>Start: {{ activity['start'] }}</p>
        <p>End: {{ activity['end'] }}</p>
      <h2>Laps</h2>
      <table id="laps">
        <tr>
          <th>Lap index</th>
          <th>Seconds</th>
          <th>Distance</th>
          <th>Max speed</th>
          <th>Calories</th>
          <th>Avg heart rate</th>
          <th>Max heart rate</th>
          <th>Cadence</th>
        </tr>
        {% for lap in activity['laps'] %}
        <tr>
          <td>{{ lap['index'] }}</td>
          <td>{{ lap['seconds'] }}</td>
          <td>{{ lap['distance'] }}</td>
          <td>{{ lap['max_speed'] }}</td>
          <td>{{ lap['calories'] }}</td>
          <td>{{ lap['avg_heart_rate'] }}</td>
          <td>{{ lap['max_heart_rate'] }}</td>
          <td>{{ lap['cadence'] }}</td>
        </tr>
        {% endfor %}
      </table>
      <h2>Map</h2>
        <div id="mapid" style="width: 600px; height: 400px;"></div>
        <script>
          start = [{{ activity['laps'][0].points[0].lat }}, {{activity['laps'][0].points[0].long}}]
          end = [{{ activity['laps'][-1].points[-1].lat }}, {{activity['laps'][-1].points[-1].long}}]
          var mymap = L.map('mapid').setView(start, 8);

          L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
              maxZoom: 18,
              attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                  '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                  'Imagery © <a href="http://mapbox.com">Mapbox</a>',
              id: 'mapbox.streets'
          }).addTo(mymap);

          var finishIcon = L.icon({
              iconUrl: 'https://png.icons8.com/finish-flag/androidL/23/000000',
              <!--iconSize: [38, 95],-->
              <!--iconAnchor: [22, 94],-->
              <!--#popupAnchor: [-3, -76],-->
          });

          var startIcon = L.icon({
              iconUrl: 'https://png.icons8.com/start/androidL/23/000000',
              <!--iconSize: [38, 95],-->
              <!--iconAnchor: [22, 94],-->
              <!--#popupAnchor: [-3, -76],-->
          });

          L.marker(start, {icon: startIcon}).addTo(mymap);
          L.marker(end, {icon: finishIcon}).addTo(mymap);

          {% for lap in activity['laps'][1::] -%}
          lap_start = [{{ lap.points[0].lat }}, {{lap.points[0].long}}]
          L.marker(start, lap_start).addTo(mymap);
          {% endfor %}

          var polyline = L.polyline([
            {% for lap in activity['laps'] -%}
              {% for point in lap['points'] -%}
              {{"[%s, %s]," % (point.lat, point.long)}}
              {% endfor -%}
            {% endfor -%}
          ], {color: 'green'}).addTo(mymap);
          mymap.fitBounds(polyline.getBounds());
      </script>
    </div>
  </div>
{% endblock %}
