{% extends "base.html" %}
{% block title %}My Sport Tracker{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
      <table id="laps">
        <tr>
          <th>Activity</th>
          <th>Type</th>
          <th>Start</th>
          <th>Distance</th>
          <th>Duration</th>
          <th>Altitude ascend</th>
        </tr>
      {% for index, activity in activities.items() %}
        <tr>
          <td>
            <p class="w3-text-teal"><a href="activity_detail/{{ activity['id'] }}">{{ activity['name'] }}</a></p>
          </td>
          <td>{{ activity['activity_type'] }}</td>
          <td>{{ activity['start'] }}</td>
          <td>{{ activity['distance'] }}</td>
          <td>{{ activity['duration'] }}</td>
          <td>{{ activity['ascend'] }}</td>
        </tr>
      {% endfor %}
      </table>
      </div>
    </div>
{% endblock %}
