<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
table#laps {
    width: 100%;
    text-align: center;
    <!--border-spacing: 2px;-->
    <!--border: 1px dashed black;-->
}
table#laps td:nth-child(even) {
    background-color: #aaff80;
    border-left: 1px dashed black;
}
table#laps td:nth-child(odd) {
   background-color:#aaff80;
   border-left: 1px dashed black;
}
</style>
<head>
  {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-theme-l1">Logo</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    {% if user.is_authenticated %}
    <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Logout</a>
    <a href="/profile" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Profile</a>
    {% else %}
    <a href="/login"class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Login</a>
    <a href="/register" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Register</a>
    {% endif %}
  </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" href="/overview">Overview</a>
  <!--<a class="w3-bar-item w3-button w3-hover-black" href="/calendar">Calendar</a>-->
  <a class="w3-bar-item w3-button w3-hover-black" href="/activities">Activities</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/import">Import</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="/live">Live</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
  <div id="content">{% block content %}{% endblock %}</div>


  <!--<div class="w3-row">-->
    <!--<div class="w3-twothird w3-container">-->
      <!--<h1 class="w3-text-teal">Heading</h1>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum-->
        <!--dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
    <!--</div>-->
    <!--<div class="w3-third w3-container">-->
      <!--<p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>-->
      <!--<p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="w3-row w3-padding-64">-->
    <!--<div class="w3-twothird w3-container">-->
      <!--<h1 class="w3-text-teal">Heading</h1>-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum-->
        <!--dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
    <!--</div>-->
    <!--<div class="w3-third w3-container">-->
      <!--<p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>-->
      <!--<p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>-->
    <!--</div>-->
  <!--</div>-->

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div>

  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
      {% block footer %}
      &copy; Copyright 2017 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </footer>

<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>