{% extends "base.html" %}
{% block title %}My Sport Tracker{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Import activity</h1>
      <form method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {{ form.file }}
        <input type="submit">
      </form>
    </div>
  </div>
{% endblock %}
