{% extends "base.html" %}
{% block title %}My Sport Tracker{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">My Sport tracker</h1>
        <p>Sport tracker web application is running.</p>
      </div>
    </div>
{% endblock %}



