{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">Login</h1>
        <form method="POST" action="/login">
          <div>{{ form.username.label }}: {{ form.username(class="css_class") }}</div>
          <div>{{ form.password.label }}: {{ form.password() }}</div>
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
{% endblock %}



