{% extends "base.html" %}
{% block title %}My Sport Tracker{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    {% for index, activity in activities.items() %}
    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">{{ activity['name'] }}</h1>
          <p>{{ activity['activity_type'] }}</p>
          <p>{{ activity['description'] }}</p>
      </div>
    </div>
    {% endfor %}
{% endblock %}
