{% extends "base.html" %}
{% block title %}My Sport Tracker{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="w3-row w3-padding-64">
      <div class="w3-twothird w3-container">
        <h1 class="w3-text-teal">{{ user.username }}</h1>
        <div>Full name: {{ user.fullname }}</div>
        <div>Email: {{ user.email }}</div>
        <div>Account type: {{ user.account_type }}</div>
      </div>
    </div>
{% endblock %}