{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Register</h1>
      <form method="POST" action="/register">
        <div>{{ form.username.label }}: {{ form.username(class="css_class") }}</div>
        <div>{{ form.fullname.label }}: {{ form.fullname(class="css_class") }}</div>
        <div>{{ form.email.label }}: {{ form.email(class="css_class") }}</div>
        <div>{{ form.password.label }}: {{ form.password() }}</div>
        <div>{{ form.password_again.label }}: {{ form.password_again() }}</div>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>
{% endblock %}



